<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLhwIUBmyYj1gBKc9bNceMG7HkRorzswk</string>
	<key>GCM_SENDER_ID</key>
	<string>307293571507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivo.gam4g41nz</string>
	<key>PROJECT_ID</key>
	<string>app601-8553b</string>
	<key>STORAGE_BUCKET</key>
	<string>app601-8553b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307293571507:ios:889b30bc7d1ce560e563c6</string>
</dict>
</plist>